/* ------- Color variables used throughout ------- */
:root { 
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {
    background-color: var(--quarternary-color);
    color: var(--most-font-color);
    font-family: 'Merriweather', serif;
}

/* ------- Navigation Bar ------- */
#NavBar {
    top: 0;
    width: 100%;
    transition: top 0.3s;
    padding: 0.5rem 2rem;
    background-color: #dfd7bf33;
}
.NextLife {
    color: var(--primary-color);
    font-family: 'Gilda Display', serif;
}
.SearchBar {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border-width: 0;
}
.SearchBar:focus {
    border-color: none;
    box-shadow: none;
    border-width: 0;
    background-color: transparent;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* Hover effects */
.underline {
    background-image: linear-gradient(var(--teal-color), var(--teal-color));
    background-size: 0% 0.2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}
.underline:hover,
.underline:focus,
.underline:active {
    background-size: 100% 0.2em;
}
.underline_middle {
    text-decoration: none;
    background-image: linear-gradient(var(--teal-color), var(--teal-color));
    background-size: 0% 0.2em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}
.underline_middle:hover,
.underline_middle:focus,
.underline_middle:active {
    background-size: 100% 0.2em;
}