/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

.errormsg {
    color: red;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

#feedback_content {
    padding-top: 1rem;
}


#MainView {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#suggestion {
    padding-top: 4rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#rating {
    padding-top: 4rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#problem {
    padding-top: 4rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button_containers {
    margin-top: 3rem;
}

#button_containers button {
    margin: 1rem;
}

.feedback_form {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    padding-bottom: 3rem;
    font-family: 'Cantata One', serif;
    font-size: xx-large;
}

.button:hover {
    border-color: var(--teal-color) !important;
    color: var(--teal-color) !important;
}

.button {
    border-color: var(--primary-color) !important;
    border-width: 2px !important;
    color: var(--primary-color) !important;
    font-size: large !important;
}

.somethinginput {
    background-color: #DFD7BF !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    margin-bottom: 1rem !important;
}

.somethinginput:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-width: 0 !important;
    background-color: #DFD7BF !important;
    outline: none !important;
}

.submit {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cancel {
    text-decoration: underline !important;
}



/* -------- FOR THE MODAL -------- */

.list_btn:hover {
    color: var(--teal-color) !important;
}

.list_btn {
    border: none;
    color: var(--primary-color) !important;
    margin-top: 7rem;
    font-size: 2.5rem !important;
}

.modal-content {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}