/* ------- Color variables used throughout ------- */
:root { 
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

.errormsg {
    color: red;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

#house_content {
    padding-top: 2rem;
}

.title {
    font-family: 'Cantata One', serif;
    margin-bottom: 0;
    font-size: larger;
}

.house_title_card {
    width: 50rem;
}

.card {
    padding: 1.5rem;
    margin: 1rem;
    border: none !important;
    background-color: var(--quarternary-color) !important;
}

.card-link{
    text-decoration: none !important;
}