/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

.errormsg {
    color: red;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

.checkoutlist_btn {
    border-color: var(--primary-color) !important;
    border-width: 2px !important;
    color: var(--primary-color) !important;
    margin: 0.5rem !important;
    font-size: large !important;
}

.checkoutlist_btn:hover {
    border-color: var(--teal-color) !important;
    color: var(--teal-color) !important;
}


#add_product_btn {
    border-color: none !important;
    border-width: 2px !important;
    color: var(--teal-color) !important;
    font-size: xx-large !important;
    width: 5rem;
}

#add_product_btn:hover {
    border-color: var(--teal-color) !important;
    color: var(--teal-color) !important;
}

#house_content {
    padding-top: 1rem;
}

.page_title {
    font-family: 'Cantata One', serif;
    margin-bottom: 0;
    font-size: x-large;
    opacity: 0.7;
    padding: 1.5rem 0rem;
}

.house_title_card {
    width: 50rem;
}

.card {
    padding: 1.5rem;
    margin: 1rem;
    border: none !important;
    background-color: var(--quarternary-color) !important;
}

.product_title {
    font-size: large;
    font-weight: 600 !important;
}

.prod_id,
.prod_time {
    font-size: small;
}

.card-link {
    text-decoration: none !important;
}

/* Source for scrollable div: https://www.w3docs.com/snippets/css/how-to-make-a-div-vertically-scrollable.html */

.scroll {
    width: 100%;
    height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll_active {
    width: 100%;
    height: 15rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll_inactive {
    width: 100%;
    height: 15rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar,
.scroll_active::-webkit-scrollbar,
.scroll_inactive::-webkit-scrollbar {
    display: none;
}

/* For JS */
.scheduled_class {
    color: yellow;
}

.active_class {
    color: green;
}

.ended_class {
    color: red;
}