/* References: https://alvarotrigo.com/blog/animated-backgrounds-css/ 
(basic landscape background animation)  */

/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {

    /* background-image: url(images/loginbackground.jpg); */
    background-size: cover;
    -webkit-animation: slidein 120s;
    animation: slidein 120s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    background-image: linear-gradient(#dfd7bf42, #dfd7bf42),
        url(images/loginbackground.jpg);
}

@-webkit-keyframes slidein {
    from {
        background-position: center;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: center;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

.card {
    width: 30rem;
    margin: auto auto;
    padding: 1rem 7rem;
    backdrop-filter: blur(69px) !important;
    border: none;
}


#LogIn_Form_Content.card {
    background-color: #dfd7bf77;
}

.title {
    font-family: 'Cantata One', serif;
}

.toppad {
    padding-top: 1rem;
}

#login_container {
    padding: 6rem 5rem;
}

#login_container h2 {
    text-align: center;
}

.loginfail {
    text-align: center;
    color: red;
    opacity: 0.9;
    font-size: medium;
}

.errormsg {
    color: red;
    font-size: small;
    opacity: 0.7;
}

.login_input {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border-width: 0;
}

.login_input:focus {
    border-color: none;
    box-shadow: none;
    border-width: 0;
    background-color: transparent;
    outline: none;
}

.form-check-input{
    background-color: #3f230570 !important;
    border-color: #3f230570 !important;
}

.form-check-input:checked {
    background-color: var(--teal-color) !important;
    border-color: #00878c3a !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0px #fff, 0 0 0 0.2rem #3f23054f !important;
    border-color: #3f230570 !important;
}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 0px #fff, 0 0 0 0.2rem #00878c3a !important;
    border-color: #00878c3a !important;
}

#login_btn:hover {
    border-color: var(--teal-color);
    color: var(--teal-color);
}

#login_btn {
    border-color: var(--primary-color);
    border-width: 2px;
    color: var(--primary-color);
    margin: 2rem 0rem;
    font-size: large;
}

.registernow {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}