/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

#profile_content {
    padding-top: 1rem;
}

.title {
    font-family: 'Cantata One', serif;
    margin-bottom: 0;
    font-size: larger;
}

.profile_title_card {
    width: 30rem;
    padding: 1.5rem;
    margin: 1rem;
}

#usertype_span {
    font-size: medium;
    opacity: 0.7;
}

#profile_content label {
    opacity: 0.7;
}

.card {
    margin: 2rem;
    background-color: var(--quarternary-color) !important;
    border: none !important;
}

.profiledetails_card {
    width: 30rem;
    padding: 2rem 3rem;
}

.temp {
    width: 30rem;
    padding: 2rem 3rem;
}