/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {
    padding: 2rem 3rem;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(#dfd7bf42, #dfd7bf42),
        url(images/profilebackground.jpg);
}

#profile_content {
    padding-top: 1rem;
}

.page_title {
    font-family: 'Cantata One', serif;
    margin-bottom: 0;
    font-size: x-large;
    opacity: 0.7;
    padding: 1.5rem 0rem;
}

.profile_title_card {
    width: 70%;
    padding: 1.5rem;
    margin: 1rem;
}

#usertype_span {
    font-size: medium;
    opacity: 0.7;
}

.card {
    margin: 2rem;
    background-color: var(--quarternary-color) !important;
    border: none !important;
}

.profiledetails_card {
    width: 30rem;
    padding: 2rem 3rem;
}

.temp {
    width: 30rem;
    padding: 2rem 3rem;
}


/* MODAL */

.modal-content {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

.somethinginput {
    background-color: #DFD7BF !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    margin-bottom: 1rem !important;
}

.somethinginput:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-width: 0 !important;
    background-color: #DFD7BF !important;
    outline: none !important;
}