/* ------- Color variables used throughout ------- */
:root { 
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}
.errormsg{
    color: red;
}

/* animation for body background gradient */
body {
    padding: 2rem 3rem;
    background: linear-gradient(270deg, #dfd7bf, #f3e9df, #a88e71);
    background-size: 400% 400%;

    -webkit-animation: BackgroundAnimation 30s ease infinite;
    -moz-animation: BackgroundAnimation 30s ease infinite;
    animation: BackgroundAnimation 30s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Buttons */
.next_btn:hover,
.previous_btn:hover {
    border-color: var(--teal-color) !important;
    color: var(--teal-color) !important;
}

.next_btn,
.previous_btn {
    border-color: var(--primary-color) !important;
    border-width: 2px !important;
    color: var(--primary-color) !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-size: large !important;
    padding-top: 2rem;
}

#register_btn:hover {
    background-color: transparent;
    color: rgb(70, 170, 70);
    border-color: rgb(70, 170, 70);
}

#register_btn {
    border-width: 2px !important;
    margin: 2rem 0rem !important;
    font-size: large !important;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

/* Registering types */
.radio_item {
    display: none !important;
}

.label_item {
    opacity: 0.5;
    font-size: 5rem;
    color: #00888c;
}

.radio_item:checked+label {
    opacity: 1;
}

/* Shaking effect */
.gentle-hover-shake:hover {
    animation: tilt-shaking 0.25s infinite;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

/* Input area */
.step-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_input{
    background-color: #DFD7BF !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    width: 30rem !important;
}

.register_input:focus{
    border-color: none;
    box-shadow: none;
    border-width: 0;
    background-color: transparent;
    outline: none;
}

.form-group{
    margin-bottom: 1rem;
}

/* Others */
.col {
    text-align: center;
}

.agreement {
    font-size: larger;
}

.form-check-input{
    background-color: #3f230570 !important;
    border-color: #3f230570 !important;
}

.form-check-input:checked {
    background-color: var(--teal-color) !important;
    border-color: #00878c3a !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0px #fff, 0 0 0 0.2rem #3f23054f !important;
    border-color: #3f230570 !important;
}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 0px #fff, 0 0 0 0.2rem #00878c3a !important;
    border-color: #00878c3a !important;
}

/* ------- For the step-wise registering ------- */
h3 {
    margin: 0;
    font-size: 1.4rem !important;
    text-align: left;
    padding-bottom: 2rem;
}
#multi-step-form-container {
    margin-top: 3rem;
}
.form-step {
    padding: 2rem 5rem;
    background-color: var(--tertiary-color);
}
ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: var(--quarternary-color);
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: var(--teal-color);
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: rgb(49, 197, 197) !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: var(--tertiary-color) ;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: var(--teal-color) !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: var(--teal-color) !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: var(--teal-color) !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}