/* ------- Color variables used throughout ------- */
:root { 
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}
.errormsg{
    color: red;
}

body {
    padding: 2rem 3rem;
}

h2{
    padding-top: 3rem;
}

/* Registering types */
.radio_item {
    display: none !important;
}

.label_item {
    opacity: 0.5;
    font-size: 5rem;
    color: #00888c;
}

.radio_item:checked+label {
    opacity: 1;
}

/* Stepwise Effect */
.step {
    display: none;
}
.step.active {
    display: block;
}

/* Shaking effect */
.gentle-hover-shake:hover {
    animation: tilt-shaking 0.25s infinite;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }