/* ------- Color variables used throughout ------- */
:root { 
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

.title {
    font-family: 'Cantata One', serif;
}

.errormsg {
    color: red;
}

.card {
    width: 40rem;
    padding: 2rem;
    border: none !important;
    background-color: var(--quarternary-color) !important;
}

.additem_input {
    background-color: #DFD7BF !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
}

.additem_input:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-width: 0 !important;
    background-color: #DFD7BF !important;
    outline: none !important;
}

.form-group{
    padding: 1rem 0rem;
}

.sell_btn {
    padding-top: 1rem;
}