/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
}

#viewproduct_content {
    padding-top: 3rem;
}

.product_image {
    object-fit: none; 
    object-position: center; 
    width: 30rem;
    height: 30rem;
  }