/* ------- Color variables used throughout ------- */
:root {
    --primary-color: #3F2305;
    --secondary-color: #DFD7BF;
    --tertiary-color: #F2EAD3;
    --quarternary-color: #F5F5F5;
    --teal-color: #00888C;
    --most-font-color: #0a0601;
}

body {
    padding: 2rem 3rem;
    background-color: var(--tertiary-color) !important;
    /* background-size: cover !important;
    background-image: linear-gradient(#dfd7bf42, #dfd7bf42),
        url(/images/viewproductbackground.jpg) !important;
    background-attachment: fixed; */
}

.errormsg {
    width: 10rem;
    font-size: x-small;
    color: red;
}

.merchant_username {
    color: var(--primary-color);
}

#viewproduct_content {
    padding-top: 3rem;
}

.pname_title {
    font-family: 'Cantata One', serif;
    font-size: xx-large;
}

.title {
    padding-bottom: 1rem;
}

.product_image {
    object-fit: none;
    object-position: center;
    width: 100%;
    height: 35rem;
    border-radius: 0.375rem !important;
}

.smol_label {
    font-size: smaller;
}

.row .card {
    padding: 2rem;
    border: none !important;
    background-color: var(--quarternary-color) !important;
    height: 35rem;
}

.button-container {
    width: 17rem;
    display: flex;
    justify-content: space-between;
}

.productid_label {
    font-size: small;
    font-family: 'Merriweather', serif;
}

.button:hover {
    border-color: var(--teal-color) !important;
    color: var(--teal-color) !important;
}

#bid_count_btn {
    border-color: var(--primary-color) !important;
    border-width: 2px !important;
    color: var(--primary-color) !important;
    margin: 2rem 0rem !important;
    font-size: large !important;
}

.button {
    border-color: var(--primary-color) !important;
    border-width: 2px !important;
    color: var(--primary-color) !important;
    margin: 2rem 0rem !important;
    font-size: large !important;
}

/* MODAL */

.modal-content {
    height: 25rem;
    padding: 2rem;
}

.modal_title {
    font-size: medium;
    padding-bottom: 1.5rem;
}

.bid_input{
    background-color: #DFD7BF !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    width: 10rem !important;
}

.bid_input:focus{
    border-color: none;
    box-shadow: none;
    border-width: 0;
    background-color: transparent;
    outline: none;
}
